	/*
  	Flaticon icon font: Flaticon
  	Creation date: 25/02/2018 19:27
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-cancel:before { content: "\f100"; }
.flaticon-massage:before { content: "\f101"; }
.flaticon-play-button:before { content: "\f102"; }
.flaticon-spa-face-mask-treatment-for-woman:before { content: "\f103"; }
.flaticon-massage-spa-body-treatment:before { content: "\f104"; }
.flaticon-scissors-and-comb:before { content: "\f105"; }
.flaticon-pets-hair-salon-tools-kit:before { content: "\f106"; }
.flaticon-map-marker:before { content: "\f107"; }
.flaticon-spa-facial-treatment-with-mask-and-massages:before { content: "\f108"; }