<div class="card">
  <img class="card-img-top img-responsive" src="<%=image%>" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title"><%=name%></h4>
    <a href="javascript:void(0)" class="Landing-Template btn btn-primary" data="<%=id%>">Choose</a>
  </div>
</div>