<% extend('../layouts/base') %>

<head>
    
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Beauty Lab | Service</title>

    <!--favicon icon-->
    <link rel="icon" href="/libs_client/images/favicon.png">

    <!-- font awesome css -->
    <link rel="stylesheet" href="/libs_client/css/font-awesome.min.css">

    <!-- flaticon css -->
    <link rel="stylesheet" href="/libs_client/css/flaticon.css">

    <!--bootstrap min css-->
    <link rel="stylesheet" href="/libs_client/css/bootstrap.min.css">

    <!--jquery-ui css-->
    <link rel="stylesheet" href="/libs_client/css/jquery-ui.min.css">

    <!--menuzord css-->
    <link rel="stylesheet" href="/libs_client/css/menuzord.css">

    <!--animate css-->
    <link rel="stylesheet" href="/libs_client/css/slick.css">
    <link rel="stylesheet" href="/libs_client/css/animate.css">

    <!--owl.carousel css-->
    <link rel="stylesheet" href="/libs_client/css/owl.carousel.min.css">

    <!--nice-select css-->
    <link rel="stylesheet" href="/libs_client/css/nice-select.css">

    <!--venobox css-->
    <link rel="stylesheet" href="/libs_client/css/venobox.css">

    <!-- global style css -->
    <link rel="stylesheet" href="/libs_client/css/global-style.css">

    <!-- style css -->
    <link rel="stylesheet" href="/libs_client/css/style.css">

    <!-- color css -->
    <link rel="stylesheet" href="/libs_client/css/colors/color-1.css">

    <!--responsive css-->
    <link rel="stylesheet" href="/libs_client/css/responsive.css">

</head>

<body>


    <!-- search-modal -->
    <div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img src="images/search-popup-logo.png" alt="search-popup-logo">
                <form action="" class="form-inline">
                    <input type="text" name="search" placeholder="Search here...">
                    <button><i class="fa fa-search"></i></button>
                </form>
                <div class="quick-search">
                    <h6 class="color-ff pos-relative ptb-30">Quick search</h6>
                    <ul>
                        <li><a href="#">parlour</a></li>
                        <li><a href="#">massage</a></li>
                        <li><a href="#">yoga</a></li>
                        <li><a href="#">spa</a></li>
                        <li><a href="#">beauty</a></li>
                        <li><a href="#">exparts</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <!-- ======================================= 
        ==Start banner section== 
    =======================================-->
    <section class="banner-section service-banner top-margin">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="banner-content">
                        <h4 class="fw-500 color-ff">Services We Offer</h4>
                        <p class="color-ff">Welcome to beauty lab, where you can relax and enjoy life.</p>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">service</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- ======================================= 
        ==End banner section==  
    =======================================-->


    <!-- ======================================= 
            ==Start Service section== 
    =======================================-->
    <section class="service-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h3 class="color-72 fw-500 pb-10">Our Services</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore etc.</p>
                    </div>
                </div>
                <!--/col-->
            </div>
            <!--/row-->

            <div class="row">
                <!--service-1-->
                <div class="col-lg-4 col-md-6">
                    <div class="single-service">
                        <div class="img"><img src="images/service-img1.jpg" alt="service-img" class="img-fluid"></div>
                        <div class="img-over-content text-center">
                            <i class="flaticon-medical color-d5 mb-10"></i>
                            <div class="divider"></div>
                            <a href="service-details.html" class="fw-500 color-33 mtb-15">Beauty Treatment</a>
                            <p>The power of golden ratio typography cannot be understated. </p>
                        </div>
                    </div>
                </div>

                <!--service-2-->
                <div class="col-lg-4 col-md-6">
                    <div class="single-service">
                        <div class="img"><img src="images/service-img2.jpg" alt="service-img" class="img-fluid"></div>
                        <div class="img-over-content text-center">
                            <i class="flaticon-spa color-d5 mb-10"></i>
                            <div class="divider"></div>
                            <a href="service-details.html" class="fw-500 color-33 mtb-15">Spa Process</a>
                            <p>The power of golden ratio typography cannot be understated. </p>
                        </div>
                    </div>
                </div>

                <!--service-3-->
                <div class="col-lg-4 col-md-6">
                    <div class="single-service">
                        <div class="img"><img src="images/service-img3.jpg" alt="service-img" class="img-fluid"></div>
                        <div class="img-over-content text-center">
                            <i class="flaticon-medical-1 color-d5 mb-10"></i>
                            <div class="divider"></div>
                            <a href="service-details.html" class="fw-500 color-33 mtb-15">Body Massage</a>
                            <p>The power of golden ratio typography cannot be understated. </p>
                        </div>
                    </div>
                </div>

                <!--service-4-->
                <div class="col-lg-4 col-md-6">
                    <div class="single-service">
                        <div class="img"><img src="images/service-img4.jpg" alt="service-img" class="img-fluid"></div>
                        <div class="img-over-content text-center">
                            <i class="flaticon-hairdryer color-d5 mb-10"></i>
                            <div class="divider"></div>
                            <a href="service-details.html" class="fw-500 color-33 mtb-15">Hair Treatment</a>
                            <p>The power of golden ratio typography cannot be understated. </p>
                        </div>
                    </div>
                </div>

                <!--service-5-->
                <div class="col-lg-4 col-md-6">
                    <div class="single-service">
                        <div class="img"><img src="images/service-img5.jpg" alt="service-img" class="img-fluid"></div>
                        <div class="img-over-content text-center">
                            <i class="flaticon-hand-wash color-d5 mb-10"></i>
                            <div class="divider"></div>
                            <a href="service-details.html" class="fw-500 color-33 mtb-15">Manicure & Pedicure</a>
                            <p>The power of golden ratio typography cannot be understated. </p>
                        </div>
                    </div>
                </div>

                <!--service-6-->
                <div class="col-lg-4 col-md-6">
                    <div class="single-service">
                        <div class="img"><img src="images/service-img6.jpg" alt="service-img" class="img-fluid"></div>
                        <div class="img-over-content text-center">
                            <i class="flaticon-relax color-d5 mb-10"></i>
                            <div class="divider"></div>
                            <a href="service-details.html" class="fw-500 color-33 mtb-15">Body Waxing</a>
                            <p>The power of golden ratio typography cannot be understated. </p>
                        </div>
                    </div>
                </div>
                <!--/col-->
            </div>
            <!--/row-->
        </div>
    </section>
    <!-- ======================================= 
            ==End Service section== 
    =======================================-->


    <!-- ======================================= 
        ==Start quick support section==  
    =======================================-->
    <section class="quick-support-section">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1 col-lg-12">
                    <div class="quick-support-wrapper clearfix">
                        <div class="single-support float-left">
                            <i class="fa fa-comments-o"></i>
                            <div class="content">
                                <h6 class="color-72 text-capitalize">Our Hotline</h6>
                                <p>(+880) 1800-111-333</p>
                            </div>
                        </div>

                        <div class="single-support float-left">
                            <i class="flaticon-school-calendar"></i>
                            <div class="content">
                                <h6 class="color-72 text-capitalize">We Are Open</h6>
                                <p>Mon - Fri : 09:00 - 18:00</p>
                            </div>
                        </div>

                        <div class="single-support social-link float-left">
                            <div class="content text-center">
                                <h6 class="color-72 text-capitalize">Follow Us</h6>
                                <ul>
                                    <li><a href="#" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#" target="_blank" title="RSS"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--/wrapper-->
                </div>
                <!--/col-->
            </div>
        </div>
    </section>
    <!-- ======================================= 
        ==End quick support section== 
    =======================================-->


    <!-- ======================================= 
        ==Start specialize section==  
    =======================================-->
    <section class="specialize-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title pb-50 text-center">
                        <h3 class="color-72 fw-500 pb-10">We Specialize In</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et.</p>
                    </div>
                </div>
                <div class="col-xl-8 offset-xl-2 col-lg-12">
                    <div class="expart-wrapper pos-relative">

                        <a href="javascript:void(0)" id="popover1" tabindex="0" class="tooltipbar bar1" role="button" data-trigger="focus"></a>
                        <a href="javascript:void(0)" id="popover2" tabindex="0" class="tooltipbar bar2" role="button" data-trigger="focus"></a>
                        <a href="javascript:void(0)" id="popover3" tabindex="0" class="tooltipbar bar3" role="button" data-trigger="focus"></a>

                        <div id="popover-content1" class="hidden">
                            <h5 class="popover-title color-d5 fw-500 text-capitalize">Hair Treatment.</h5>
                            <p>It is not always yourself who knows best what would fit you perfectly.</p>
                        </div>

                        <div id="popover-content2" class="hidden">
                            <h5 class="popover-title color-d5 fw-500 text-capitalize">Body Massaging.</h5>
                            <p>It is not always yourself who knows best what would fit you perfectly.</p>
                        </div>

                        <div id="popover-content3" class="hidden">
                            <h5 class="popover-title color-d5 fw-500 text-capitalize">Skin Treatment.</h5>
                            <p>It is not always yourself who knows best what would fit you perfectly.</p>
                        </div>

                        <img src="images/service-img.png" alt="expart" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======================================= 
        ==End specialize section== 
    =======================================-->


    <!-- ======================================= 
            ==Start Testimonial section==  
    =======================================-->
    <section class="testimonial-section">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-8 offset-md-2">
                    <div class="section-title pb-60 text-center">
                        <h3 class="color-ff fw-500">Testimonials</h3>
                    </div>

                    <div class="testimoial-wrapper owl-carousel">
                        <!--testimonial-1-->
                        <div class="single-testimonial text-center">
                            <a href="#"><img src="images/author3.jpg" alt="author"></a>
                            <p class="testimoinal-txt color-ff pt-25">I just wanted to thank you for providing a great celebration party for me. Your staff did an excellent job and the Makeup was superb. Everyone was impressed.Thanks again!</p>
                            <p class="author color-ff">Thomas Jefferson<span>CEO of TF</span></p>
                        </div>

                        <!--testimonial-2-->
                        <div class="single-testimonial text-center">
                            <a href="#"><img src="images/author1.jpg" alt="author"></a>
                            <p class="testimoinal-txt color-ff pt-25">I just wanted to thank you for providing a great celebration party for me. Your staff did an excellent job and the Makeup was superb. Everyone was impressed.Thanks again!</p>
                            <p class="author color-ff">Thomas Jefferson<span>CEO of TF</span></p>
                        </div>

                        <!--testimonial-3-->
                        <div class="single-testimonial text-center">
                            <a href="#"><img src="images/author2.jpg" alt="author"></a>
                            <p class="testimoinal-txt color-ff pt-25">I just wanted to thank you for providing a great celebration party for me. Your staff did an excellent job and the Makeup was superb. Everyone was impressed.Thanks again!</p>
                            <p class="author color-ff">Thomas Jefferson<span>CEO of TF</span></p>
                        </div>
                        <!--/testimonial-->
                    </div>
                    <!--/testimoial wrapper-->
                </div>
                <!--/col-->
            </div>
        </div>
    </section>
    <!-- ======================================= 
            ==End Testimonial section== 
    =======================================-->


    <!-- ======================================= 
        ==Start pricing plan section==  
    =======================================-->
    <section class="priceing-section v2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h3 class="color-72 fw-500 pb-10">pricing plans</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et.</p>
                    </div>
                </div>
            </div>
            <!--/row-->

            <div class="row">
                <div class="col-md-12">
                    <div class="pricing-wrapper clearfix">

                        <!--plan-1-->
                        <div class="single-price-plan single-pack text-center float-left">
                            <div class="price-header">
                                <h3 class="fw-300 color-33">Single Pack</h3>
                                <div class="price-divider"></div>
                                <p class="color-99">From <span class="color-d5 fw-700">$29</span> Per Months</p>
                            </div>
                            <div class="price-body">
                                <div class="price-content">
                                    <h6 class="color-33 fw-500"><i class="fa fa-check color-d5"></i>Entry from 2 pm to 8 pm</h6>
                                    <p>Curabitur ac lacus arcu. Sed vehicula lectus auctor viverra. Vehicula.</p>
                                </div>

                                <div class="price-content">
                                    <h6 class="color-33 fw-500"><i class="fa fa-check color-d5"></i>Manicure & pedicure 7x ses.</h6>
                                    <p>Curabitur ac lacus arcu. Sed vehicula lectus auctor viverra. Vehicula.</p>
                                </div>
                            </div>
                            <div class="price-footer">
                                <a href="E" class="get-start">Get Started Now</a>
                            </div>
                        </div>

                        <!--plan-2-->
                        <div class="single-price-plan premium text-center float-left">
                            <div class="price-header">
                                <h3 class="fw-300 color-33">Premium</h3>
                                <div class="price-divider"></div>
                                <p class="color-99">From <span class="color-d5 fw-700">$49</span> Per Months</p>
                            </div>
                            <div class="price-body">
                                <div class="price-content">
                                    <h6 class="color-33 fw-500"><i class="fa fa-check color-d5"></i>Entry from 12 pm to 8 pm</h6>
                                    <p>Curabitur ac lacus arcu. Sed vehicula lectus auctor viverra. Vehicula.</p>
                                </div>
                                <div class="price-content">
                                    <h6 class="color-33 fw-500"><i class="fa fa-check color-d5"></i>Manicure & pedicure 8x ses.</h6>
                                    <p>Curabitur ac lacus arcu. Sed vehicula lectus auctor viverra. Vehicula.</p>
                                </div>
                            </div>
                            <div class="price-footer">
                                <a href="E" class="get-start">Get Started Now</a>
                            </div>
                        </div>

                        <!--plan-3-->
                        <div class="single-price-plan family-pack text-center float-left">
                            <div class="price-header">
                                <h3 class="fw-300 color-33">Family Pack</h3>
                                <div class="price-divider"></div>
                                <p class="color-99">From <span class="color-d5 fw-700">$99</span> Per Months</p>
                            </div>
                            <div class="price-body">
                                <div class="price-content">
                                    <h6 class="color-33 fw-500"><i class="fa fa-check color-d5"></i>Entry from 10 pm to 8 pm</h6>
                                    <p>Curabitur ac lacus arcu. Sed vehicula lectus auctor viverra. Vehicula.</p>
                                </div>
                                <div class="price-content">
                                    <h6 class="color-33 fw-500"><i class="fa fa-check color-d5"></i>Body & foot massages</h6>
                                    <p>Curabitur ac lacus arcu. Sed vehicula lectus auctor viverra. Vehicula.</p>
                                </div>
                            </div>
                            <div class="price-footer">
                                <a href="#" class="get-start">Get Started Now</a>
                            </div>
                        </div>
                        <!--/single price plan-->
                    </div>
                    <!--/wrapper-->
                </div>
                <!--/col-->
            </div>
            <!--/row-->
        </div>
    </section>
    <!-- ======================================= 
        ==End pricing plan section== 
    =======================================-->
    
    
    <!-- ======================================= 
            ==Start call to action section==  
    =======================================-->
    <section class="cta-section">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <p>Book a session and get up to <span class="color-d5">25%</span> discount!</p>
                        <a href="booking.html">Book A Session Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======================================= 
            ==End call to action section== 
    =======================================-->
    
  

    <!-- jQuary library -->
    <script src="/libs_client/js/jquery-3.2.1.min.js"></script>

    <!--bootstrap js-->
    <script src="/libs_client/js/popper.min.js"></script>
    <script src="/libs_client/js/bootstrap.min.js"></script>

    <!--jquery-ui js-->
    <script src="/libs_client/js/jquery-ui.min.js"></script>

    <!--menuzord js-->
    <script src="/libs_client/js/menuzord.js"></script>

    <!--slick js-->
    <script src="/libs_client/js/slick.js"></script>

    <!--owl.carousel js-->
    <script src="/libs_client/js/owl.carousel.min.js"></script>

    <!--nice-select js-->
    <script src="/libs_client/js/jquery.nice-select.min.js"></script>

    <!--venobox js-->
    <script src="/libs_client/js/venobox.min.js"></script>

    <!--counterup js-->
    <script src="/libs_client/js/jquery.counterup.min.js"></script>
    <script src="/libs_client/js/waypoints.min.js"></script>

    <!--vide js for background video-->
    <script type="text/javascript" src="/libs_client/js/jquery.vide.js"></script>

    <!--isotope js-->
    <script src="/libs_client/js/isotope.pkgd.min.js"></script>
    <script src="/libs_client/js/imagesloaded.pkgd.min.js"></script>
    

    <!-- all jQuary activation code here and always it will be bottom of all script tag -->
    <script src="/libs_client/js/main.js"></script>
</body>

</html>
