table .avatar {
  max-width: 50px; }

form .avatar-100 {
  max-width: 100%; }

.Images-Preview {
  padding: 4px;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .Images-Preview > div {
    width: calc(25% - 2px);
    margin-bottom: 4px;
    border: 1px dashed #ccc;
    position: relative; }
    .Images-Preview > div img {
      max-width: 100%;
      border-radius: 2px; }
    .Images-Preview > div .remove {
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      color: red;
      right: 5px;
      top: 5px;
      background: rgba(0, 0, 0, 0.387);
      cursor: pointer;
      text-align: center; }
      .Images-Preview > div .remove:hover {
        background: rgba(0, 0, 0, 0.7); }

.note-editor {
  z-index: 1; }

.card.CardItem {
  border: 3px solid blue; }

.content-static-page {
  margin-top: 120px;
  margin-bottom: 100px; }

.dataTables_paginate .pagination .page-item.active .page-link {
  background-color: #d5275a; }

.product-gallery {
  padding-top: 10px;
  padding-bottom: 10px; }
  .product-gallery aside .categorie .card .card-body a:before {
    top: 8px !important; }
  .product-gallery aside .categorie .card .card-body button {
    padding-left: 20px !important;
    font-weight: bold; }
    .product-gallery aside .categorie .card .card-body button:before {
      top: 8px !important;
      color: #d5275a;
      content: "\f101";
      font-family: FontAwesome;
      font-size: 17px;
      left: 0;
      position: absolute;
      top: -1px;
      line-height: normal; }
  .product-gallery aside .categorie .card-header button {
    padding: 6px 0 !important;
    border: 0;
    font-weight: bold; }

.leaflet-bottom {
  display: none; }
