<div class="scroll-sidebar">
  <!-- User Profile-->
  <div class="user-profile">
      <div class="user-pro-body">
          <div><img src="/libs/images/users/2.jpg" alt="user-img" class="img-circle"></div>
          <div class="dropdown">
              <a href="javascript:void(0)" class="dropdown-toggle u-dropdown link hide-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <% if (typeof(userLocal) !== 'undefined' && userLocal) { %>
                  <%= userLocal.email %>
                <% } %>
                 <span class="caret"></span></a>
              <div class="dropdown-menu animated flipInY">
                  <!-- text-->
                  <a href="/admin/profile" class="dropdown-item"><i class="ti-user"></i> My Profile</a>
                  <!-- text-->
                  <a href="javascript:void(0)" class="dropdown-item"><i class="ti-settings"></i> Account Setting</a>
                  <!-- text-->
                  <a href="/admin/logout" class="dropdown-item"><i class="fas fa-power-off"></i> Logout</a>
                  <!-- text-->
              </div>
          </div>
      </div>
  </div>
  <!-- Sidebar navigation-->
  <nav class="sidebar-nav">
    <ul id="sidebarnav">
        <li class="nav-small-cap">--- MAIN MENU</li>
        <li>
            <a class="waves-effect waves-dark" href="/admin" aria-expanded="false">
                <i class="icon-speedometer"></i>
                <span class="hide-menu">Dashboard</span>
            </a>
        </li>

        <% if (typeof(userLocal) !== 'undefined' && userLocal) { %>

        <% if(userLocal.permissions.includes('user.index')){ %>
          <li> 
            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-people"></i><span class="hide-menu">Users</span></a>
              <ul aria-expanded="false" class="collapse">
                  <li><a href="/admin/users">All Users</a></li>
                  <li><a href="/admin/users/create">Add Users</a></li>
              </ul>
          </li>
        <% } %>

        <% if(userLocal.permissions.includes('spa.index')){ %>
          <li> 
            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-diamond"></i><span class="hide-menu">Spas</span></a>
              <ul aria-expanded="false" class="collapse">
                  <li><a href="/admin/spas">All Spas</a></li>
                  <li><a href="/admin/spas/create">Add Spa</a></li>
              </ul>
          </li>
        <% } %>

        <% if(userLocal.permissions.includes('service.index')){ %>
        <li> 
          <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-social-dropbox
            "></i><span class="hide-menu">Services</span></a>
            <ul aria-expanded="false" class="collapse">
                <li><a href="/admin/services">All Services</a></li>
                <li><a href="/admin/services/create">Add Services</a></li>
            </ul>
        </li>
        <% } %>

        <% if(userLocal.permissions.includes('booking.index')){ %>
        <li> 
          <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fas fa-building
            "></i><span class="hide-menu">Booking</span></a>
            <ul aria-expanded="false" class="collapse">
                <li><a href="/admin/booking">All Booking</a></li>
                <li><a href="/admin/booking/create">Add Booking</a></li>
            </ul>
        </li>
        <% } %>

        <% if(userLocal.permissions.includes('category.index')){ %>
          <li> 
            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-list"></i><span class="hide-menu">Category</span></a>
              <ul aria-expanded="false" class="collapse">
                  <li><a href="/admin/categories">All category</a></li>
                  <li><a href="/admin/categories/create">Add category</a></li>
              </ul>
          </li>
        <% } %>

        <% if(userLocal.permissions.includes('news.index')){ %>
          <li> 
            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-feed"></i><span class="hide-menu">Spa news</span></a>
              <ul aria-expanded="false" class="collapse">
                  <li><a href="/admin/news">All News</a></li>
                  <li><a href="/admin/news/create">Add New</a></li>
              </ul>
          </li>
        <% } %>
        <li> 
          <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-badge"></i><span class="hide-menu">Experts</span></a>
            <ul aria-expanded="false" class="collapse">
                <li><a href="/admin/experts">All Experts</a></li>
                <li><a href="/admin/experts/create">Add Expert</a></li>
            </ul>
        </li>
        <% if(userLocal.permissions.includes('role.index')){ %>
        <li> 
          <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-lock-open"></i><span class="hide-menu">Role management</span></a>
            <ul aria-expanded="false" class="collapse">
                <li><a href="/admin/roles">All roles</a></li>
                <li><a href="/admin/roles/create">Add role</a></li>
            </ul>
        </li>
        <% } %>

        <% if(userLocal.permissions.includes('staticpage.index')){ %>
          <li> 
            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-layers"></i><span class="hide-menu">Static page</span></a>
              <ul aria-expanded="false" class="collapse">
                  <li><a href="/admin/static-pages">All static page</a></li>
                  <li><a href="/admin/static-pages/create">Add static page</a></li>
              </ul>
          </li>
        <% } %>
  
        <% if(userLocal.permissions.includes('qa.index')){ %>
          <li> 
            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-info"></i><span class="hide-menu">Q&A</span></a>
              <ul aria-expanded="false" class="collapse">
                  <li><a href="/admin/q-a">All Q&A</a></li>
                  <li><a href="/admin/q-a/create">Add Q&A</a></li>
              </ul>
          </li>
        <% } %>
  
        <% if(userLocal.role === 'SPA_OWNER'){ %>
          <li> 
            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-home"></i><span class="hide-menu">Landing page</span></a>
              <ul aria-expanded="false" class="collapse">
                  <li><a href="/admin/spas/landing-page">Choose landing page</a></li>
                  <li><a href="/admin/spas/landing-page/preview">See on site</a></li>
              </ul>
          </li>
          <li> 
            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-pin"></i><span class="hide-menu">Offer - Discount</span></a>
              <ul aria-expanded="false" class="collapse">
                  <li><a href="/admin/spas/discount">Discount for service</a></li>
              </ul>
          </li>
          <li>
            <a class="waves-effect waves-dark" href="/admin/spas/booking" aria-expanded="false">
                <i class="fas fa-building"></i>
                <span class="hide-menu">Booking</span>
            </a>
          </li>
          <li>
            <a class="waves-effect waves-dark" href="/admin/spas/update-info" aria-expanded="false">
                <i class="icon-equalizer"></i>
                <span class="hide-menu">Update info</span>
            </a>
          </li>
        <% } %>
        <% } %>
  
        <!-- <li> 
            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class=" fab fa-product-hunt"></i><span class="hide-menu">Products</span></a>
              <ul aria-expanded="false" class="collapse">
                  <li><a href="/admin/products">All Products</a></li>
                  <li><a href="/admin/products/create">Add Products</a></li>
              </ul>
        </li>
        <li> 
          <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class=" fab fa-product-hunt"></i><span class="hide-menu">Projects</span></a>
            <ul aria-expanded="false" class="collapse">
                <li><a href="/admin/projects">All Projects</a></li>
                <li><a href="/admin/projects/create">Add Projects</a></li>
            </ul>
        </li> -->
        <li class="nav-small-cap">--- SUPPORTS</li>
        <li>
            <a class="waves-effect waves-dark" href="/admin/logout" aria-expanded="false">
                <i class="icon-logout"></i>
                <span class="hide-menu">Log Out</span>
            </a>
        </li>
    </ul>
  </nav>
  <!-- End Sidebar navigation -->
</div>