<% extend('../layouts/base',{
  title: "News"
}) %>


    <!-- ======================================= 
        ==Start banner section== 
    =======================================-->
    <section class="banner-section blog-banner top-margin">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="banner-content">
                        <h4 class="fw-500 color-ff">blog details</h4>
                        <p class="color-ff">Welcome to beauty lab, where you can relax and enjoy life.</p>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="#">home</a></li>
                        <li class="active">blog details</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- ======================================= 
        ==End banner section==  
    =======================================-->


    <!-- ======================================= 
            ==Start Blog section==  
    =======================================-->
    <section class="blog-section blog-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog-details-wrapper">
                        <img src="/libs_client/images/blog-details-img.jpg" alt="blog-details-img" class="img-fluid" />
                        <h5 class="title color-d5">As you might have guessed, most designers choose this unit arbitrarily.</h5>
                        <ul class="tags ptb-20">
                            <li><i class="fa fa-heart color-72"></i>22</li>
                            <li><i class="fa fa-commenting-o color-72"></i>19</li>
                            <li><i class="fa fa-folder-open color-72"></i>Spa Procedures</li>
                            <li><i class="fa fa-calendar color-72"></i>30 May 2018</li>
                        </ul>
                        <p>
                            As you might have guessed, most designers choose this unit arbitrarily. The problem with this approach is that the resulting baseline grid unit is not directly related to the primary font size, which is the most fundamental design element on the page.
                            <br/><br/> Instead of relying on arbitrary selection, wouldn’t it be nice if there were a way to determine the perfect typography settings based on a given context?
                            <br/><br/> As it turns out, the golden ratio provides us with a guide—a formula—for proper typesetting. Because of this, we can now set our type with absolute certainty in any situation! Better still, we can use this information about typography to make more informed decisions about all the spatial aspects of our designs, such as:
                        </p>

                        <div class="admin-details">
                            <img src="/libs_client/images/admin.jpg" alt="admin">
                            <div class="admin-description color-ff">
                                <h5>Admin: <span class="fw-500">Rose Smith</span></h5>
                                <p class="color-ff">exclamatory use of "beautiful" which is almost entirely empty of meaning, People exclaim "beautiful" meaning only.</p>
                            </div>
                        </div>
                        <!--/admin details-->

                        <p>
                            As you might have guessed, most designers choose this unit arbitrarily. The problem with this approach is that the resulting baseline grid unit is not directly related to the primary font size, which is the most fundamental design element on the page.
                            <br/><br/> Instead of relying on arbitrary selection, wouldn’t it be nice if there were a way to determine the perfect typography settings based on a given context?
                            <br/><br/> As you might have guessed, most designers choose this unit arbitrarily. The problem with this approach is that the resulting baseline grid unit is not directly related to the primary font size, which is the most fundamental design element on the page.
                        </p>

                    </div>
                    <!--/blog post wrapper-->

                    <div class="comment-section">
                        <h5 class="title color-d5 pos-relative fw-500">Comments</h5>

                        <ul>
                            <!-- comment-1 -->
                            <li>
                                <div class="comment">
                                    <img src="/libs_client/images/commenter-img1.jpg" alt="commenter">
                                    <div>
                                        <h6><a href="#">James Dean</a><span>10 Nov, 2018</span></h6>
                                        <p>Instead of relying on arbitrary selection, wouldn’t it be nice if there were a way to determine the perfect typography settings based on a given context?</p>
                                        <a href="" class="reply"><i class="fa fa-reply"></i>Reply</a>
                                    </div>
                                </div>
                            </li>

                            <!-- comment-2 -->
                            <li>
                                <div class="comment">
                                    <img src="/libs_client/images/commenter-img3.jpg" alt="commenter">
                                    <div>
                                        <h6><a href="#">James Dean</a><span>8 Nov, 2018</span></h6>
                                        <p>Instead of relying on arbitrary selection, wouldn’t it be nice if there were a way to determine the perfect typography settings based on a given context?</p>
                                        <a href="" class="reply"><i class="fa fa-reply"></i>Reply</a>
                                    </div>
                                </div>

                                <!--reply section-->
                                <ul>
                                    <!-- reply comment-1 -->
                                    <li>
                                        <div class="comment">
                                            <img src="/libs_client/images/commenter-img2.jpg" alt="commenter">
                                            <div>
                                                <h6><a href="#">James Dean</a><span>8 Nov, 2018</span></h6>
                                                <p>Instead of relying on arbitrary selection, wouldn’t it be nice if there were a way to determine the perfect typography settings based on a given context?</p>
                                                <a href="" class="reply"><i class="fa fa-reply"></i>Reply</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <!--/reply section-->
                            </li>

                            <!-- comment-3 -->
                            <li>
                                <div class="comment">
                                    <img src="/libs_client/images/commenter-img3.jpg" alt="commenter">
                                    <div>
                                        <h6><a href="#">James Dean</a><span>7 Nov, 2018</span></h6>
                                        <p>Instead of relying on arbitrary selection, wouldn’t it be nice if there were a way to determine the perfect typography settings based on a given context?</p>
                                        <a href="" class="reply"><i class="fa fa-reply"></i>Reply</a>
                                    </div>
                                </div>
                            </li>
                            <!--/comment-->
                        </ul>
                    </div>
                    <!--/comment section-->

                    <div class="comment-form-section">
                        <h5 class="title color-d5 pos-relative fw-500">Leave a Comment</h5>
                        <form action="comment.php" class="clearfix">
                            <input type="text" placeholder="Your Name">
                            <input type="email" placeholder="Your Email">
                            <textarea name="msg" rows="5" placeholder="Your Message"></textarea>
                            <button type="submit">send comment</button>
                        </form>
                    </div>
                    <!--/comment-form-section-->
                </div>
                <!--/col-->

                <div class="col-lg-4">
                    <aside class="blog-sidebar clearfix">
                        <div class="search-widget single-widget">
                            <form action="#" method="post">
                                <input type="text" name="search" placeholder="Search here..">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>

                        <div class="latest-blog-area single-widget">
                            <h5 class="widget-title fw-500 pos-relative">Latest Blog</h5>

                            <!--latest post-1-->
                            <div class="single-latest-post">
                                <a href="#"><img src="/libs_client/images/latest-blog.jpg" alt="latest-blog"></a>
                                <ul>
                                    <li>
                                        <h6><a href="#">Nivea for men’s sensitive hydro gel.</a></h6>
                                    </li>
                                    <li><a href="#">Beauty & Skin</a></li>
                                    <li>26 Oct 2018</li>
                                </ul>
                            </div>

                            <!--latest post-2-->
                            <div class="single-latest-post">
                                <a href="#"><img src="/libs_client/images/latest-blog2.jpg" alt="latest-blog"></a>
                                <ul>
                                    <li>
                                        <h6><a href="#">Nivea for men’s sensitive hydro gel.</a></h6>
                                    </li>
                                    <li><a href="#">Beauty & Skin</a></li>
                                    <li>24 Oct 2018</li>
                                </ul>
                            </div>

                            <!--latest post-3-->
                            <div class="single-latest-post">
                                <a href="#"><img src="/libs_client/images/latest-blog3.jpg" alt="latest-blog"></a>
                                <ul>
                                    <li>
                                        <h6><a href="#">Nivea for men’s sensitive hydro gel.</a></h6>
                                    </li>
                                    <li><a href="#">Beauty & Skin</a></li>
                                    <li>20 Oct 2018</li>
                                </ul>
                            </div>
                            <!-- /single latest blog-->
                        </div>
                        <!-- /latest blog area-->

                        <div class="post-categories single-widget">
                            <h5 class="widget-title fw-500 pos-relative">Post Categories</h5>
                            <ul>
                                <li><a href="#">Professional Makeup</a><span>10</span></li>
                                <li><a href="#">Haircut and Styling</a><span>70</span></li>
                                <li><a href="#">Slim Body Session</a><span>05</span></li>
                                <li><a href="#">Body Massage</a><span>63</span></li>
                                <li><a href="#">Facial Massage</a><span>40</span></li>
                                <li><a href="#">Facial Massage</a><span>54</span></li>
                            </ul>
                        </div>
                        <!--/post categories-->

                        <div class="post-categories single-widget">
                            <h5 class="widget-title fw-500 pos-relative">Archives</h5>
                            <ul>
                                <li><a href="#">January-2018</a></li>
                                <li><a href="#">February-2018</a></li>
                                <li><a href="#">March-2018</a></li>
                                <li><a href="#">April-2018</a></li>
                                <li><a href="#">May-2018</a></li>
                                <li><a href="#">June-2018</a></li>
                                <li><a href="#">July-2018</a></li>
                                <li><a href="#">August-2018</a></li>
                                <li><a href="#">September-2018</a></li>
                                <li><a href="#">October-2018</a></li>
                            </ul>
                        </div>
                        <!--/archives-->

                        <div class="instagram-gallery single-widget">
                            <h5 class="widget-title fw-500 pos-relative">Instagram</h5>
                            <a href="#"><img src="/libs_client/images/insta-img/insta-img1.jpg" alt="insta-img" /></a>
                            <a href="#"><img src="/libs_client/images/insta-img/insta-img2.jpg" alt="insta-img" /></a>
                            <a href="#"><img src="/libs_client/images/insta-img/insta-img3.jpg" alt="insta-img" /></a>
                            <a href="#"><img src="/libs_client/images/insta-img/insta-img4.jpg" alt="insta-img" /></a>
                            <a href="#"><img src="/libs_client/images/insta-img/insta-img5.jpg" alt="insta-img" /></a>
                            <a href="#"><img src="/libs_client/images/insta-img/insta-img6.jpg" alt="insta-img" /></a>
                            <a href="#"><img src="/libs_client/images/insta-img/insta-img7.jpg" alt="insta-img" /></a>
                            <a href="#"><img src="/libs_client/images/insta-img/insta-img8.jpg" alt="insta-img" /></a>
                            <a href="#"><img src="/libs_client/images/insta-img/insta-img9.jpg" alt="insta-img" /></a>
                        </div>
                        <!--/instagram gallery-->
                    </aside>
                </div>
                <!--/col-->
            </div>
            <!--/row-->
        </div>
    </section>
    <!-- ======================================= 
            ==End blog section== 
    =======================================-->


    <!-- ======================================= 
            ==Start call to action section==  
    =======================================-->
    <section class="cta-section booking-cta-section">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <p>Book a session and get up to <span class="color-d5">25%</span> discount!</p>
                        <a href="#">Book A Session Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
  