
    <!-- ======================================= 
            ==Start footer widget section==  
    =======================================-->
    <section class="footer-widget">
      <div class="container">
          <div class="row">
              <div class="col-lg-4">
                  <div class="single-widget contact-widget">
                      <a href="index.html"><img alt="logo" src="images/widget-logo.png"></a>
                      <p>The beauty lab is a luxury beauty &amp; spa solution. The beauty spa strives to deliver top class.</p>
                      <address>
                          <p class="address"><i class="fa fa-home"></i><span>Address:</span> 121 King St, Melbourne Vic 3000, Australia.</p>
                          <p class="phone"><i class="fa fa-phone"></i><span>Phone:</span> +66 1800-111-333</p>
                          <p class="email"><i class="fa fa-envelope"></i><span>Email:</span> <a href=":mailto:info@beautylab.com">info@beautylab.com</a></p>
                          <p class="web"><i class="fa fa-globe"></i><span>Web:</span> <a href="www.Beautylab.com" target="_blank">www.Beautylab.com</a></p>
                      </address>
                  </div>
              </div>

              <div class="col-lg-4">
                  <div class="single-widget recent-post-widget">
                      <h5>Recent Posts</h5>
                      <ul>
                          <li>
                              <p>The power of golden ratio typography cannot be understated. By choosing the..</p>
                              <span>November 25, 2018</span>
                              <a href="#">read more</a>
                          </li>
                          <li>
                              <p>The power of golden ratio typography cannot be understated. By choosing the..</p>
                              <span>November 23, 2018</span>
                              <a href="#">read more</a>
                          </li>
                      </ul>
                  </div>
              </div>

              <div class="col-lg-4">
                  <div class="single-widget newsletter-widget">
                      <h5>Newsletter</h5>
                      <form action="#" method="post" class="clearfix">
                          <input type="text" placeholder="Name" id="name" class="form-control">
                          <input type="email" placeholder="Email" id="email" class="form-control">
                          <button type="submit">Send</button>
                      </form>
                  </div>
              </div>
              <!--/col-->
          </div>
      </div>
  </section>
  <!-- ======================================= 
          ==End footer widget section== 
  =======================================-->


  <!-- ======================================= 
          ==Start footer section==  
  =======================================-->
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <p class="copyright">&copy; 2018 All rights reserved. Developed by <a target="_blank" href="https://themeforest.net/user/theme_builder">Theme Builder</a></p>
              </div>
          </div>
      </div>
  </footer>
  <!-- ======================================= 
          ==End footer section== 
  =======================================-->
