
    <!-- ======================================= 
            ==Start footer widget section==  
    =======================================-->
    <section class="footer-widget">
      <div class="container">
          <div class="row">
              <div class="col-lg-4">
                  <div class="single-widget contact-widget">
                      <a href="index.html"><img alt="logo" src="/images/widget-logo.png"></a>
                      <p>Nơi chăm sóc sắc đẹp toàn diện cho mọi người</p>
                      <address>
                          <p class="address"><i class="fa fa-home"></i><span>Địa chỉ:</span> 121 King St, Melbourne Vic 3000, Australia.</p>
                          <p class="phone"><i class="fa fa-phone"></i><span>Phone:</span> +66 1800-111-333</p>
                          <p class="email"><i class="fa fa-envelope"></i><span>Email:</span> <a href=":mailto:info@beautylab.com">info@beautylab.com</a></p>
                          <p class="web"><i class="fa fa-globe"></i><span>Web:</span> <a href="www.Beautylab.com" target="_blank">www.Beautylab.com</a></p>
                      </address>
                  </div>
              </div>

              <div class="col-lg-4">
                  <div class="single-widget">
                      <h5>Liên kết</h5>
                      <ul>
                        <li class="active"><a href="/" title="Trang chủ">Trang chủ</a></li>
                        <li><a href="/tin-tuc" title="Tin tức">Tin tức</a></li>
                        <li><a href="/chuyen-gia" title="Chuyên gia">Chuyên gia</a></li>
                        <li><a href="/lien-he" title="Liên hệ">Liên hệ</a></li>
                        <li><a href="/hoi-dap" title="Hỏi đáp">Hỏi đáp</a></li>
                        <% staticPages.forEach(item=>{ %>
                          <li><a href="/<%=item.slug%>" title="<%=item.name%>"><%=item.name%></a></li>
                        <% }) %>
                        <li><a href="/login" title="Đăng nhập">Đăng nhập</a></li>
                        <li><a href="/register" title="Đăng kí"><span>Đăng kí</span></a></li>
  
                      </ul>
                  </div>
              </div>

              <div class="col-lg-4">
                  <div class="single-widget newsletter-widget">
                      <h5>Bản tin</h5>
                      <form action="#" method="post" class="clearfix">
                          <input type="text" placeholder="Họ tên" id="name" class="form-control">
                          <input type="email" placeholder="Email" id="email" class="form-control">
                          <button type="submit">Gửi</button>
                      </form>
                  </div>
              </div>
              <!--/col-->
          </div>
      </div>
  </section>
  <!-- ======================================= 
          ==End footer widget section== 
  =======================================-->


  <!-- ======================================= 
          ==Start footer section==  
  =======================================-->
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <p class="copyright">&copy; 2020 Bản quyền. Phát triển bới  <a target="_blank" href="#">PSCD Team</a></p>
              </div>
          </div>
      </div>
  </footer>
  <!-- ======================================= 
          ==End footer section== 
  =======================================-->
