<header class="beauty-header" id="beauty-header">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div id="menuzord" class="menuzord">
                  <a href="/" class="menuzord-brand custom-logo"><img id="logo" src="/images/logo.png" alt="logo"></a>
                  <ul class="menuzord-menu menuzord-right">
                      <li class="active"><a href="/" title="Trang chủ">Trang chủ</a>
                      </li>
                      <li><a href="/tin-tuc" title="Tin tức">Tin tức</a>
                        <ul class="dropdown triangle">
                            <%-categoriesHeaders%>
                        </ul>
                      </li>
                      <li><a href="/chuyen-gia" title="Chuyên gia">Chuyên gia</a></li>
                      <li><a>Khác</a>
                        <ul class="dropdown triangle">
                          <li><a href="/lien-he" title="Liên hệ">Liên hệ</a></li>
                          <li><a href="/hoi-dap" title="Hỏi đáp">Hỏi đáp</a></li>
                          <% staticPages.forEach(item=>{ %>
                            <li><a href="/<%=item.slug%>" title="<%=item.name%>"><%=item.name%></a></li>
                          <% }) %>
                        </ul>
                      </li>
                      <li><a href="/login" title="Đăng nhập">Đăng nhập</a></li>
                      <li><a href="/register" title="Đăng kí"><span class="btn-register">Đăng kí</span></a></li>

                  </ul>
                  <button type="button" id="search-button" data-toggle="modal" data-target="#search-modal"><i class="fa fa-search"></i></button>
              </div>
              <!--/#menuzord-->
          </div>
          <!--/col-md-12-->
      </div>
  </div>
</header>
