<header class="beauty-header" id="beauty-header">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div id="menuzord" class="menuzord">
                  <a href="/" class="menuzord-brand custom-logo"><img id="logo" src="/images/logo.png" alt="logo"></a>
                  <ul class="menuzord-menu menuzord-right">
                      <li class="active"><a href="/" title="Home">Home</a>
                      </li>
                      <li><a href="/booking" title="Booking">Booking</a></li>
                      <li><a href="/news" title="News">News</a></li>
                      <li><a href="/service" title="Service">Service</a></li>
                      <li><a href="/expert" title="Pages">Expert</a>
                          <ul class="dropdown triangle">
                              <li><a href="gallery.html">Expert 1</a></li>
                              <li><a href="gallery.html">Expert 2</a></li>
                              <li><a href="gallery.html">Expert 3</a></li>
                          </ul>
                      </li>
                      <li><a href="/contact" title="Contact">Contact</a></li>
                      <li><a href="/question-and-answer" title="Question and Answer">Q&A</a></li>
                      <% staticPages.forEach(item=>{ %>
                        <li><a href="/<%=item.slug%>" title="<%=item.name%>"><%=item.name%></a></li>
                      <% }) %>
                  </ul>
                  <button type="button" id="search-button" data-toggle="modal" data-target="#search-modal"><i class="fa fa-search"></i></button>
              </div>
              <!--/#menuzord-->
          </div>
          <!--/col-md-12-->
      </div>
  </div>
</header>
