<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="opening-time text-left"><i class="fa fa-clock-o color-d5"></i> <span>Opening Hour: Mon - Fri : 09:00 - 18:00</span> </div>
            </div>

            <div class="col-md-6">
                <div class="contact-mail text-right"> <a href="mailto:nfo@beautylab.com"><i class="fa fa-envelope color-d5"></i>info@beautylab.com</a> <span>/</span> <a href="tel:1800-111-333"><i class="fa fa-phone color-d5"></i>1800-111-333</a> </div>
            </div>
        </div>
    </div>
</div>

<header class="beauty-header" id="beauty-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="menuzord" class="menuzord">
                    <a href="index.html" class="menuzord-brand custom-logo"><img id="logo" src="images/logo.png" alt="logo"></a>
                    <ul class="menuzord-menu menuzord-right">
                        <li class="active"><a href="#" title="Home">Home</a>
                            <ul class="dropdown triangle">
                                <li><a href="index.html">Home-1 </a></li>
                                <li><a href="index-2.html">Home-2</a></li>
                                <li><a href="index-3.html">Home-3</a></li>
                                <li><a href="index-4.html">Home-4</a></li>
                            </ul>
                        </li>
                        <li><a href="#" title="Service">Service</a>
                            <ul class="dropdown triangle">
                                <li><a href="service.html">Service page</a></li>
                                <li><a href="service-details.html">Service Details</a></li>
                            </ul>
                        </li>
                        <li><a href="booking.html" title="Booking">Booking</a></li>
                        <li><a href="#" title="Pages">pages</a>
                            <ul class="dropdown triangle">
                                <li><a href="about.html">about us</a></li>
                                <li><a href="gallery.html">gallery</a></li>
                                <li><a href="product-details.html">product details</a></li>
                                <li><a href="error.html">404 page</a></li>
                            </ul>
                        </li>
                        <li><a href="#" title="Shop">Shop</a>
                            <div class="megamenu">
                                <div class="megamenu-row">
                                    <div class="col3 clearfix">
                                        <ul>
                                            <li>
                                                <h6>Shop Full Width</h6>
                                            </li>
                                            <li><a href="shop-fullwidth.html">Shop Full Width (4 Column)</a></li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <h6>Shop With Sidebar</h6>
                                            </li>
                                            <li><a href="shop-left-sidebar.html">Shop (Left Sidebar)</a></li>
                                            <li><a href="shop-right-sidebar.html">Shop (Right Sidebar)</a></li>
                                        </ul>
                                    </div>

                                    <div class="col3 clearfix">
                                        <ul>
                                            <li>
                                                <h6>Shop-Eyelash</h6>
                                            </li>
                                            <li><a href="#">Beetroot collection</a></li>
                                            <li><a href="#">Lobster ravioli</a></li>
                                            <li><a href="#">Pollo farcito</a></li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <h6>Shop-Nail care</h6>
                                            </li>
                                            <li><a href="#">organic egg</a></li>
                                            <li><a href="#">Beetroot collection</a></li>
                                        </ul>
                                    </div>

                                    <div class="col6">
                                        <div class="header-ad">
                                            <img src="images/vibes-laser.png" alt="add img" class="img-fluid">
                                        </div>
                                    </div>
                                    <!--/col-->
                                </div>
                            </div>
                        </li>
                        <li><a href="#" title="Blog">Blog</a>
                            <ul class="dropdown triangle">
                                <li><a href="#">Blog pages</a>
                                    <ul class="dropdown dropdown-left">
                                        <li><a href="blog-fullwidth.html">Blog full width</a></li>
                                        <li><a href="blog-grid-col-2.html">Blog Grid (2 column)</a></li>
                                        <li><a href="blog-left-sidebar-col-1.html">Blog left sidebar (1 Column)</a></li>
                                        <li><a href="blog-left-sidebar-col-2.html">Blog left sidebar (2 Column)</a></li>
                                        <li><a href="blog-right-sidebar-col-1.html">Blog Right sidebar (1 Column)</a></li>
                                        <li><a href="blog-right-sidebar-col-2.html">Blog right sidebar (2 Column)</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog-details.html">blog details</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html" title="Contact">Contact</a></li>
                    </ul>
                    <button type="button" id="search-button" data-toggle="modal" data-target="#search-modal"><i class="fa fa-search"></i></button>
                </div>
                <!--/#menuzord-->
            </div>
            <!--/col-md-12-->
        </div>
    </div>
</header>>