<div class="mail-footer">
    <div class="mail-social">
      <a href="https://www.facebook.com" class="fb"></a>
      <a href="https://twitter.com" class="tw"></a>
      <a href="https://www.instagram.com" class="ins"></a>
    </div>
    <p class="ft-logo">
      © PSCD2020
    </p> 
  </div>
</div>
</div>
</body>

</html>