<% extend('../layouts/base', { 
  title: "Static page management",
  subTitle: "Index",
  script: `
  ` 
}) %>
<div class="container">
  <div class="content-static-page">
    <%- page.content %>
  </div>
</div>
