<% extend('../layouts/base') %>
<head>

    <!--favicon icon-->
    <link rel="icon" href="/libs_client/images/favicon.png">

    <!-- font awesome css -->
    <link rel="stylesheet" href="/libs_client/css/font-awesome.min.css">

    <!-- flaticon css -->
    <link rel="stylesheet" href="/libs_client/css/flaticon.css">

    <!--bootstrap min css-->
    <link rel="stylesheet" href="/libs_client/css/bootstrap.min.css">

    <!--jquery-ui css-->
    <link rel="stylesheet" href="/libs_client/css/jquery-ui.min.css">

    <!--menuzord css-->
    <link rel="stylesheet" href="/libs_client/css/menuzord.css">

    <!--animate css-->
    <link rel="stylesheet" href="/libs_client/css/slick.css">
    <link rel="stylesheet" href="/libs_client/css/animate.css">

    <!--owl.carousel css-->
    <link rel="stylesheet" href="/libs_client/css/owl.carousel.min.css">

    <!--nice-select css-->
    <link rel="stylesheet" href="/libs_client/css/nice-select.css">

    <!--venobox css-->
    <link rel="stylesheet" href="/libs_client/css/venobox.css">

    <!-- global style css -->
    <link rel="stylesheet" href="/libs_client/css/global-style.css">

    <!-- style css -->
    <link rel="stylesheet" href="/libs_client/css/style.css">

    <!-- color css -->
    <link rel="stylesheet" href="/libs_client/css/colors/color-1.css">

    <!--responsive css-->
    <link rel="stylesheet" href="/libs_client/css/responsive.css">

</head>

<body>


    <!-- search-modal -->
    <div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img src="images/search-popup-logo.png" alt="search-popup-logo">
                <form action="" class="form-inline">
                    <input type="text" name="search" placeholder="Search here...">
                    <button><i class="fa fa-search"></i></button>
                </form>
                <div class="quick-search">
                    <h6 class="color-ff pos-relative ptb-30">Quick search</h6>
                    <ul>
                        <li><a href="#">parlour</a></li>
                        <li><a href="#">massage</a></li>
                        <li><a href="#">yoga</a></li>
                        <li><a href="#">spa</a></li>
                        <li><a href="#">beauty</a></li>
                        <li><a href="#">exparts</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <!-- ======================================= 
        ==Start banner section== 
    =======================================-->
    <section class="banner-section booking-banner top-margin">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="banner-content">
                        <h4 class="fw-500 color-ff">Book A Session Now</h4>
                        <p class="color-ff">Welcome to beauty lab, where you can relax and enjoy life.</p>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="#">home</a></li>
                        <li class="active">Booking</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- ======================================= 
        ==End banner section==  
    =======================================-->


    <!-- ======================================= 
        ==Start our history section== 
    =======================================-->
    <section class="history-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="history-details">
                        <h4 class="fw-500 color-72">Why Choose Beauty Lab</h4>
                        <span class="roboto">Book Treatments, Services Instantly</span>
                        <p>Beauty is the quality of being pleasing, especially to look at, or someone or something that gives great pleasure, especially when looking at it. The beauty lab is a luxury beauty & spa solution. The beauty spa strives to deliver top class treatments in a relaxing environment.<br/><br/>Beauty is the quality of being pleasing, especially to look at, or someone or something that gives great pleasure, especially when looking at it.</p>
                        <div class="singature-area">
                            <img src="images/author-sign.png" alt="author-sign">
                            <span class="title d-block">CEO of Beauty Lab</span>
                        </div>
                    </div>
                </div>
                <!--/col-->

                <div class="col-lg-5 offset-lg-1">
                    <div class="history-img pos-relative">
                        <img src="images/history-img.jpg" alt="history-img" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======================================= 
        ==End our history section== 
    =======================================-->


    <!-- ======================================= 
            ==start Seassion booking section== 
    =======================================-->
    <section class="booking-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-xl-4 col-lg-9 offset-lg-3">
                    <div class="section-title text-center">
                        <h3 class="color-72 fw-500">Book A Session Now</h3>
                        <p>Deliver Top Class Treatments In A Relaxing Environment.</p>
                    </div>

                    <div class="booking-wrapper mt-45">
                        <form action="#" method="post" class="clearfix">
                            <div class="single-input name">
                                <input type="text" name="name" placeholder="Your Name" required />
                            </div>

                            <div class="single-input phone">
                                <input type="text" name="phone" placeholder="Phone Number" />
                            </div>

                            <div class="single-input email">
                                <input type="email" name="email" placeholder="Email Address" required />
                            </div>

                            <div class="single-input date">
                                <input type="" name="date" id="booking-date" placeholder="DD/MM/YY" required />
                            </div>

                            <div class="single-input beauty-service clearfix">
                                <select class="wide" name="beauty-service" required>
                                    <option selected>Service</option>
                                    <option value="facial">Facials</option>
                                    <option value="nailCare">Nail Care</option>
                                    <option value="eyeCare">Eye Care</option>
                                    <option value="waxing">Waxing</option>
                                    <option value="makeup">Make-Up</option>
                                </select>
                            </div>

                            <div class="single-input beauty-expart clearfix">
                                <select class="wide" name="beauty-expart" required>
                                    <option selected>Beauty Expart</option>
                                    <option value="sokhina">Janny Sokhina</option>
                                    <option value="jorina">Jorina Biswas</option>
                                    <option value="jerin">Jerin Shikdar</option>
                                    <option value="subrina">Subrina Tasnim</option>
                                </select>
                            </div>

                            <div class="single-input msg">
                                <textarea name="msg-area" cols="30" rows="4" placeholder="Your Message (Optional)"></textarea>
                            </div>
                            <button type="submit">Make a Reservation</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======================================= 
            ==End Seassion booking section== 
    =======================================-->


    <!-- ======================================= 
            ==Start price list section==  
    =======================================-->
    <section class="priceing-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h3 class="color-72 fw-500 pb-10">Price List</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et.</p>
                    </div>

                    <div class="price-list-tab">
                        <!-- Nav tabs -->
                        <ul class="tab-menu nav nav-tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link" href="#beautyTreatment" aria-controls="beautyTreatment" role="tab" data-toggle="tab" aria-selected="true">Beauty Treatment</a></li>
                            <li class="nav-item"><a class="nav-link" href="#makeUp" aria-controls="makeUp" role="tab" data-toggle="tab" aria-selected="false">Make-up</a></li>
                            <li class="nav-item"><a class="nav-link active" href="#spaTherapy" aria-controls="spaTherapy" role="tab" data-toggle="tab" aria-selected="false">Spa Therapy</a></li>
                            <li class="nav-item"><a class="nav-link" href="#hairTreatment" aria-controls="hairTreatment" role="tab" data-toggle="tab" aria-selected="false">Hair Treatment</a></li>
                            <li class="nav-item"><a class="nav-link" href="#specialOffers" aria-controls="specialOffers" role="tab" data-toggle="tab" aria-selected="false">Special Offers</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- tab-pannel 1 -->
                            <div role="tabpanel" class="tab-pane fade clearfix" id="beautyTreatment">
                                <div class="single-price-list stone-therapy float-left">
                                    <h6><a href="#" class="fw-500 pb-10">Stone Therapy </a><span>$1</span></h6>
                                    <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                                </div>
                                <div class="single-price-list massage-therapie float-left">
                                    <h6><a href="#" class="fw-500 pb-10">Massage Therapies</a> <span>$65</span></h6>
                                    <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                                </div>
                                <div class="single-price-list body-bassage float-left">
                                    <h6><a href="#" class="fw-500 pb-10">Body Massage</a> <span>$85</span></h6>
                                    <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                                </div>
                                <div class="single-price-list pedicure-manicure float-left">
                                    <h6><a href="#" class="fw-500 pb-10">Pedicure & Manicure</a> <span>$32</span></h6>
                                    <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                                </div>
                            </div>

                            <!-- tab-pannel 2 -->
                            <div role="tabpanel" class="tab-pane fade clearfix" id="makeUp">
                                <div class="single-price-list stone-therapy float-left">
                                    <h6><a href="#" class="fw-500 pb-10">Stone Therapy </a><span>$101</span></h6>
                                    <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                                </div>
                                <div class="single-price-list massage-therapie float-left">
                                    <h6><a href="#" class="fw-500 pb-10">Massage Therapies</a> <span>$65</span></h6>
                                    <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                                </div>
                                <div class="single-price-list body-bassage float-left">
                                    <h6><a href="#" class="fw-500 pb-10">Body Massage</a> <span>$85</span></h6>
                                    <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                                </div>
                                <div class="single-price-list pedicure-manicure float-left">
                                    <h6><a href="#" class="fw-500 pb-10">Pedicure & Manicure</a> <span>$32</span></h6>
                                    <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                                </div>
                            </div>

                            <!-- tab-pannel 3 -->
                            <div role="tabpanel" class="tab-pane fade show active clearfix" id="spaTherapy">
                                <div class="single-price-list stone-therapy float-left">
                                    <h6><a href="#" class="fw-500 pb-10">Stone Therapy </a><span>$15</span></h6>
                                    <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                                </div>
                                <div class="single-price-list body-bassage float-left">
                                    <h6><a href="#" class="fw-500 pb-10">Body Massage</a> <span>$185</span></h6>
                                    <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                                </div>
                                <div class="single-price-list massage-therapie float-left">
                                    <h6><a href="#" class="fw-500 pb-10">Massage Therapies</a> <span>$65</span></h6>
                                    <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                                </div>
                                <div class="single-price-list pedicure-manicure float-left">
                                    <h6><a href="#" class="fw-500 pb-10">Pedicure & Manicure</a> <span>$32</span></h6>
                                    <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                                </div>
                            </div>

                            <!-- tab-pannel 4 -->
                            <div role="tabpanel" class="tab-pane fade clearfix" id="hairTreatment">
                                <div class="single-price-list stone-therapy float-left">
                                    <h6><a href="#" class="fw-500 pb-10">Stone Therapy </a><span>$15</span></h6>
                                    <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                                </div>
                                <div class="single-price-list massage-therapie float-left">
                                    <h6><a href="#" class="fw-500 pb-10">Massage Therapies</a> <span>$605</span></h6>
                                    <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                                </div>
                                <div class="single-price-list pedicure-manicure float-left">
                                    <h6><a href="#" class="fw-500 pb-10">Pedicure & Manicure</a> <span>$32</span></h6>
                                    <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                                </div>
                                <div class="single-price-list body-bassage float-left">
                                    <h6><a href="#" class="fw-500 pb-10">Body Massage</a> <span>$850</span></h6>
                                    <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                                </div>
                            </div>

                            <!-- tab-pannel 5 -->
                            <div role="tabpanel" class="tab-pane fade clearfix" id="specialOffers">
                                <div class="single-price-list massage-therapie float-left">
                                    <h6><a href="#" class="fw-500 pb-10">Massage Therapies</a> <span>$651</span></h6>
                                    <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                                </div>
                                <div class="single-price-list stone-therapy float-left">
                                    <h6><a href="#" class="fw-500 pb-10">Stone Therapy </a><span>$101295</span></h6>
                                    <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                                </div>
                                <div class="single-price-list body-bassage float-left">
                                    <h6><a href="#" class="fw-500 pb-10">Body Massage</a> <span>$845</span></h6>
                                    <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                                </div>
                                <div class="single-price-list pedicure-manicure float-left">
                                    <h6><a href="#" class="fw-500 pb-10">Pedicure & Manicure</a> <span>$312</span></h6>
                                    <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                                </div>
                            </div>
                            <!--/tab-pannel-->
                        </div>
                        <a href="#" class="booking-now">Book A Session Now</a>
                    </div>
                </div>
            </div>
            <!--/row-->
        </div>
    </section>
    <!-- ======================================= 
            ==End price list section== 
    =======================================-->


    <!-- ======================================= 
            ==Start call to action section==  
    =======================================-->
    <section class="cta-section booking-cta-section">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cta-content">
                        <p>Join our mailing list & get up to <span class="color-d5">25% off</span> on every service!</p>
                        <div class="mail-form">
                            <form class="form-inline" action="#">
                                <input type="email" name="email" placeholder="Your email">
                                <button type="submit" class="join-btn">Join</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======================================= 
            ==End call to action section== 
    =======================================-->


    <!-- ======================================= 
            ==Start footer widget section==  
    =======================================-->
   

    <!-- ======================================= 
            ==Start footer section==  
    =======================================-->
 

    <!-- jQuary library -->
    <script src="/libs_client/js/jquery-3.2.1.min.js"></script>

    <!--bootstrap js-->
    <script src="/libs_client/js/popper.min.js"></script>
    <script src="/libs_client/js/bootstrap.min.js"></script>

    <!--jquery-ui js-->
    <script src="/libs_client/js/jquery-ui.min.js"></script>

    <!--menuzord js-->
    <script src="/libs_client/js/menuzord.js"></script>

    <!--slick js-->
    <script src="/libs_client/js/slick.js"></script>

    <!--owl.carousel js-->
    <script src="/libs_client/js/owl.carousel.min.js"></script>

    <!--nice-select js-->
    <script src="/libs_client/js/jquery.nice-select.min.js"></script>

    <!--venobox js-->
    <script src="/libs_client/js/venobox.min.js"></script>

    <!--counterup js-->
    <script src="/libs_client/js/jquery.counterup.min.js"></script>
    <script src="/libs_client/js/waypoints.min.js"></script>

    <!--vide js for background video-->
    <script type="text/javascript" src="/libs_client/js/jquery.vide.js"></script>

    <!--isotope js-->
    <script src="/libs_client/js/isotope.pkgd.min.js"></script>
    <script src="/libs_client/js/imagesloaded.pkgd.min.js"></script>

    <!-- all jQuary activation code here and always it will be bottom of all script tag -->
    <script src="/libs_client/js/main.js"></script>
</body>

</html>
