<!DOCTYPE html>
<html>

<head>
    <title>PSCD- Account Verification</title>
</head>

<body>
    <div>
        <h3>Dear <%= email %>,</h3>
        <p>Please use code <%= token %> to confirm your email address and activate your PSCD account</p>
        <br>
        <p>Your sincerely,</p>
        <p>PSCD Admin.</p>
    </div>

</body>

</html>